<%- include('partials/header') %>

<%- include('partials/navbar') %>

    <!-- details starts -->
  <div class="row mb-2" >
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">ECE</strong>
          <h3 class="mb-0">INDUSTRIAL VISIT</h3>
          <div class="mb-1 text-muted">JUNE 2</div>
          <p class="card-text mb-auto">Their will be industrial visit for 2 days for ECE final year students.</p>
          <a href="#" class="stretched-link">Know More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/images/event1.jpeg" alt="event_image" id = "eventOne">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">CSE</strong>
          <h3 class="mb-0">FACULTY DEVELOPMENT PROGRAM</h3>
          <div class="mb-1 text-muted">JULY 28</div>
          <p class="mb-auto">Workshop will be conducted by cse department on Machine learning interested students can register.</p>
          <a href="#" class="stretched-link">know more</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/images/event2.png" alt=""  id = "eventOne">

        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2" >
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">ECE</strong>
          <h3 class="mb-0">HACKATHON</h3>
          <div class="mb-1 text-muted">JUNE 28</div>
          <p class="card-text mb-auto">Their will be Hackathon event conducting by cse department interested students register below.</p>
          <a href="#" class="stretched-link">Know More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/images/event3.png" alt=""  id = "eventOne">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">ECE</strong>
          <h3 class="mb-0">ROBOTICS WORKSHOP</h3>
          <div class="mb-1 text-muted">JUNE 26</div>
          <p class="mb-auto">Workshop will be conducted by ECE department on Robotics interested students can register.</p>
          <a href="#" class="stretched-link">know more</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/images/event4.jpeg" alt=""  id = "eventOne">

        </div>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>