<%- include('partials/header') %>

<%- include('partials/navbar') %>



<section class="page-section" id="placements">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"><br>Placement Circular<br></h2><br><br>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/placement1.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>JUNE 2 </h4>
                        <h4 class="subheading">WIPRO ONCAMPUS</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">CGPA ABOVE 7.0 IN ALL THREE MILESTONES(UG, CLASS 12 AND CLASS10)</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/placement1.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>JUNE 16</h4>
                        <h4 class="subheading">AIZEN ALGO PVT.LTD</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">CGPA ABOVE 6.5 IN ALL THREE MILESTONES(UG, CLASS 12 AND CLASS10)</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/placement1.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>JUNE 23</h4>
                        <h4 class="subheading">BRIGOSHA TECHNOLOGIES</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">10TH AND 12TH - 60% GRADUATION MINIMUM 60%</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/placement1.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>JUNE 28</h4>
                        <h4 class="subheading">OMEGA HEALTH CARE</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">60% IN 10TH AND 12TH AND BTECH WITH NO ACTIVE BACKLOGS</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        ALL
                        <br />
                        THE 
                        <br />
                        BEST 
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio" data-aos="fade-up">

    <div class="container">

      <div class="section-header">
        <h2>STUDENT PLACED</h2>
      </div>

    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">


        <div class="row g-0 portfolio-container">

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/images/placement2.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>2021 batch</h4>
              <a href="assets/img/portfolio/app-1.jpg" title="2021 batch" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
            <img src="/images/placement3.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>2021 Batch</h4>
              <a href="assets/img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
            <img src="/images/placement4.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>2022 Batch</h4>
              <a href="assets/img/portfolio/branding-1.jpg" title="2022 batch" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
            <img src="/images/placement5.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>2020 Batch</h4>
              <a href="assets/img/portfolio/books-1.jpg" title="2020 batch" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/images/placement6.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>2021 batch</h4>
              <a href="assets/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
            <img src="/images/placement7.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>2021 batch</h4>
              <a href="assets/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          
          </div><!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section><!-- End Portfolio Section -->


















<%- include('partials/footer') %>