<%- include('partials/header') %>

<%- include('partials/navbar') %>


<section class="page-section bg-light" id="project">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Projects</h2>
            <h3 class="section-subheading ">projects done this year is available</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- project item 1-->
                <div class="project-item">
                    <a class="project-link" data-bs-toggle="modal" href="#projectModal1">
                        <div class="project-hover">
                            <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/project1.jpeg" alt="..." />
                    </a>
                    <div class="project-caption">
                        <div class="project-caption-heading">Iot Based Women Safety Devices</div>
                        <div class="project-caption-subheading text-muted">The proposed work aims at designing an IoT based safety device that relies on providing security to women by fingerprint-based method of connectivity to the device and alerting nearby people and police when a women is not safe.</div>
                        <a id= "btnlogin" class="btn btn-warning btn-lg" href="/project" role="button">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- project item 2-->
                <div class="project-item">
                    <a class="project-link" data-bs-toggle="modal" href="#projectModal2">
                        <div class="project-hover">
                            <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/project2.jpeg" alt="..." />
                    </a>
                    <div class="project-caption">
                        <div class="project-caption-heading">Robot Arm Controller Using Fpga</div>
                        <div class="project-caption-subheading text-muted">design and build a control system with an FPGA chip to control the movements of a robotic arm. The whole system is composed of the Controller System and the drive circuits, one driver circuit for each motor on the robotic arm.</div>
                        <a id= "btnlogin" class="btn btn-warning btn-lg" href="/project" role="button">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- project item 3-->
                <div class="project-item">
                    <a class="project-link" data-bs-toggle="modal" href="#projectModal3">
                        <div class="project-hover">
                            <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/project3.jpeg" alt="..." />
                    </a>
                    <div class="project-caption">
                        <div class="project-caption-heading">Solar Powered Grass Cutter Robot</div>
                        <div class="project-caption-subheading text-muted"><p>The fully automated solar grass cutter is a fully automated grass cutting robotic vehicle powered by solar energy that also avoids obstacles and is capable of fully automated grass cutting without the need of any human interaction. The system uses 6V batteries to power the vehicle movement motors as well as the grass cutter motor.</p></div>
                        <a id= "btnlogin" class="btn btn-warning btn-lg" href="/project" role="button">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- project item 2-->
                <div class="project-item">
                    <a class="project-link" data-bs-toggle="modal" href="#projectModal2">
                        <div class="project-hover">
                            <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/project2.jpeg" alt="..." />
                    </a>
                    <div class="project-caption">
                        <div class="project-caption-heading">Robot Arm Controller Using Fpga</div>
                        <div class="project-caption-subheading text-muted">design and build a control system with an FPGA chip to control the movements of a robotic arm. The whole system is composed of the Controller System and the drive circuits, one driver circuit for each motor on the robotic arm.</div>
                        <a id= "btnlogin" class="btn btn-warning btn-lg" href="/project" role="button">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- project item 2-->
                <div class="project-item">
                    <a class="project-link" data-bs-toggle="modal" href="#projectModal2">
                        <div class="project-hover">
                            <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/project2.jpeg" alt="..." />
                    </a>
                    <div class="project-caption">
                        <div class="project-caption-heading">Robot Arm Controller Using Fpga</div>
                        <div class="project-caption-subheading text-muted">design and build a control system with an FPGA chip to control the movements of a robotic arm. The whole system is composed of the Controller System and the drive circuits, one driver circuit for each motor on the robotic arm.</div>
                        <a id= "btnlogin" class="btn btn-warning btn-lg" href="/project" role="button">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- project item 3-->
                <div class="project-item">
                    <a class="project-link" data-bs-toggle="modal" href="#projectModal3">
                        <div class="project-hover">
                            <div class="project-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/project3.jpeg" alt="..." />
                    </a>
                    <div class="project-caption">
                        <div class="project-caption-heading">Solar Powered Grass Cutter Robot</div>
                        <div class="project-caption-subheading text-muted"><p>The fully automated solar grass cutter is a fully automated grass cutting robotic vehicle powered by solar energy that also avoids obstacles and is capable of fully automated grass cutting without the need of any human interaction. The system uses 6V batteries to power the vehicle movement motors as well as the grass cutter motor.</p></div>
                        <a id= "btnlogin" class="btn btn-warning btn-lg" href="/project" role="button">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>